.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coverContainer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coverUpperSectionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 60vh;
}
.coverTextContainer {
  max-width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
}
.title {
  font-size: 70px;
  margin: 0;
}
.description {
  color: var(--fontSecondary);
  font-size: 27px;
  margin: 15px 0 20px;
  line-height: 35px;
}
.meImageContainer {
  width: 30%;
  height: 30%;
  border-radius: 1000px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
}
.coverCallToAction {
  background-color: var(--btnBackground);
  border-radius: 15px;
  padding: 10px 35px;
  color: white;
  font-size: 20px;
  font-family: Lato-bold;
  box-shadow: var(--btnShadow);
  transition: var(--transition);
}
.coverCallToAction:hover {
  box-shadow: var(--btnShadowHovered);
  transform: translateY(-2px);
  opacity: 0.95;
}

@media screen and (max-width: 1300px) {
  .coverContainer {
    width: 75vw;
  }
}

@media screen and (max-width: 1120px) {
  .coverContainer {
    width: 80vw;
  }
}
@media screen and (max-width: 1050px) {
  .title {
    font-size: 60px;
  }
  .description {
    color: var(--fontSecondary);
    font-size: 25px;
    margin: 15px 0 20px;
    line-height: 32px;
  }
}
@media screen and (max-width: 900px) {
  .coverUpperSectionContainer {
    flex-direction: column-reverse;
  }
  .meImageContainer {
    width: 60%;
    height: 60%;
    margin: 40px 0 20px;
  }
  .coverTextContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    text-align: center;
  }
  .title {
    font-size: 60px;
  }
  .description {
    font-size: 25px;
    margin: 15px 0 20px;
    line-height: 32px;
  }
  .coverCallToAction {
    margin-top: 20px;
  }
}
@media screen and (max-width: 570px) {
  .meImageContainer {
    width: 80%;
    height: 80%;
    margin: 15px 0 20px;
  }
  .title {
    font-size: 50px;
  }
  .description {
    font-size: 20px;
    margin: 15px 0 20px;
    line-height: 28px;
  }
  .coverCallToAction {
    margin-top: 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 32px;
  }
}
