.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cover section */
.coverContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-top: 25px;
  align-items: center;
}
.coverImgContainer {
  width: 65%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: fit-content;
  border: 3px solid white;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
}
.coverTextContainer {
  width: 35%;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
  align-self: flex-start;
}
.category {
  align-self: flex-start;
  margin: 10px 0 15px;
  color: var(--fontAccent);
  font-size: 18px;
  font-family: SF-pro-bold;
}
.shortDescription {
  margin: 0 0 20px;
  color: var(--fontSecondary);
  font-size: 18px;
  line-height: 32px;
}
.similar {
  margin: 0 0 5px;
  color: var(--fontSecondary);
  font-size: 15px;
}
@media screen and (max-width: 900px) {
  .coverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .coverImgContainer {
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  }
  .coverTextContainer {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .title {
    align-self: center;
  }
  .category {
    align-self: center;
  }
}

/* What this project is about */
.whatThisProjectIsContainer {
  width: 80vw;
  text-align: center;
}
.sectionTitle {
  font-size: 25px;
  margin: 0;
  text-align: center;
}
.whatThisProjectIs {
  color: var(--fontSecondary);
  font-size: 18px;
  line-height: 30px;
  margin: 10px 0 20px;
}

/* Dev process */
.devProcessContainer {
  width: calc(80vw - 120px);
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  min-height: 300px;
}
.devProcessHeadersContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.devProcessHeaderContainer {
  display: flex;
  flex-direction: column;
  color: var(--fontSecondary);
  text-transform: uppercase;
  font-size: 16px;
  margin: 20px 20px 10px;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
  min-width: max-content;
}
.devProcessHeaderContainer:hover {
  color: var(--fontPrimary);
}
.devProcessHeader {
  min-width: max-content;
  margin: 0;
}
.selectedHeader {
  color: var(--fontPrimary);
}
.devProcessHeaderUnderline {
  background-color: var(--fontAccent);
  height: 3px;
  border-radius: 100px;
  width: 120%;
  margin-top: 5px;
  transition: var(--transition);
}
.hidden {
  opacity: 0;
}
.devProcessContentContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: var(--transitionSlow);
}
.devProcessLeftContainer {
  width: 40%;
}
.devProcessRightContainer {
  width: 55%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.devProcessDescription {
  color: var(--fontSecondary);
  font-size: 17px;
  line-height: 27px;
  margin: 0;
}
.suggestion {
  color: var(--fontSecondary);
  margin: 10px 0 5px;
  text-align: center;
}
.toolsUsedContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.techContainer {
  display: flex;
  flex-direction: column;
  width: 26%;
  align-items: center;
  margin: 0 0 30px;
  color: var(--fontSecondary);
  transition: var(--transition);
  min-width: min-content;
}
.techContainer:hover {
  color: var(--fontPrimary);
  transform: scale(1.1);
}
.techLogo {
  margin: 0;
  font-size: 50px;
}
.techName {
  margin: 0;
  font-size: 14px;
  text-align: center;
}
.timelineContainer {
  color: var(--fontSecondary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
.numberOfWeeks {
  font-size: 60px;
  margin: 0;
}
.weeks {
  margin: 0;
}
.memberImgContainer {
  border-radius: 1000px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  display: flex;
}
.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.memberContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 20px;
}
.memberName {
  margin: 5px;
  font-size: 16px;
  color: var(--fontSecondary);
}
.qrContainer {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.viewProjectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewProject {
  margin: 10px 0 0;
  color: var(--fontAccent);
}
.viewProject:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .devProcessHeader {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .devProcessHeadersContainer {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .devProcessContentContainer {
    flex-direction: column;
  }
  .devProcessLeftContainer {
    width: 100%;
  }
  .devProcessRightContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .devProcessDescription {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .devProcessContainer {
    width: 80vw;
    padding: 0 10vw;
    background-color: var(--background);
    box-shadow: 0 0 0 0;
  }
  .devProcessHeadersContainer {
    width: 90vw;
  }
}

/* Features */
.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}
.featureContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
  perspective: 100vw;
  align-items: center;
}
.featureImgContainer {
  width: 50%;
  transform-style: preserve-3d;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}
.imgLeft {
  transform: rotateY(20deg);
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.15);
}
.imgRight {
  transform: rotateY(-20deg);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}
.featureTxtContainer {
  width: 45%;
}
.featureName {
  margin: 0 0 15px;
  font-size: 20px;
}
.featureDescription {
  color: var(--fontSecondary);
  font-size: 18px;
  margin: 0;
  line-height: 32px;
}
.featureRight {
  flex-direction: row-reverse;
}
@media screen and (max-width: 900px) {
  .featuresContainer {
    width: 80vw;
  }
  .featureContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .featureImgContainer {
    transform: rotateY(0);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    width: 100%;
    margin-bottom: 30px;
    max-width: calc(800px * 0.7);
    border-radius: 20px;
  }
  .featureTxtContainer {
    width: 100%;
    text-align: center;
  }
}
