.button {
  background-color: var(--btnBackground);
  border-radius: 12px;
  padding: 10px 35px;
  font-size: 14px;
  color: white;
  font-family: Lato-bold;
  box-shadow: var(--btnShadow);
  transition: var(--transition);
  text-transform: uppercase;
  text-align: center;
  outline: 0;
  border: 0;
}
.button:hover {
  transform: translateY(-2px);
  box-shadow: var(--btnShadowHovered);
  opacity: 0.95;
}
.button:focus {
  transform: translateY(-2px);
  box-shadow: var(--btnShadowHovered);
  opacity: 0.95;
  outline: 0;
}
