/* Container */
.projectsCardsContainer {
  padding: 10px 20px 30px 20px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-self: flex-start;
  max-width: calc(100vw - 50px);
  overflow-x: scroll;
}
.projectsCardsContainer::-webkit-scrollbar-thumb {
  background-color: rgb(230, 230, 230);
}

/* Card */
.container {
  min-width: 230px;
  max-width: 230px;
  border-radius: 20px;
  max-height: max-content;
  min-height: 100%;
  background-color: var(--backgroundContainer);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: var(--transition);
}
.imageSuperContainer {
  width: 230px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
}
.imageContainer {
  width: 355px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.title {
  text-transform: uppercase;
  margin: 15px 0 0;
}
.type {
  margin: 0;
  font-family: SF-pro-bold;
  font-size: 15px;
  color: var(--fontSecondary);
}
.category {
  color: var(--fontAccent);
  margin: 8px 0;
  font-family: SF-pro-bold;
  font-size: 15px;
}
.description {
  color: var(--fontSecondary);
  margin: 8px 0 10px;
  line-height: 25px;
  overflow: hidden;
  -webkit-line-clamp: 4; /* number of lines to show */
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
