/* Fonts imports */
@font-face {
  font-family: Lato;
  src: url(../public/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-bold;
  src: url(../public/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: SF-pro;
  src: url(../public/fonts/SFProDisplay-Regular.ttf);
}
@font-face {
  font-family: SF-pro-bold;
  src: url(../public/fonts/SF-Pro-Display-Bold.otf);
}

/* Variables */
:root {
  --strongFont: Lato;
  --fontAccent: rgb(82, 161, 250);
  --fontPrimary: rgb(50, 50, 50);
  --fontSecondary: rgba(50, 50, 50, 0.7);
  --transition: all 0.1s ease-in-out;
  --btnBackground: var(--fontPrimary);
  --btnShadow: 0px 3px 30px rgba(0, 0, 0, 0.25);
  --btnShadowHovered: 0px 5px 40px rgba(0, 0, 0, 0.25);
}

/** Lato on phones looks ugly */
/* @media screen and (max-width: 400px) {
  :root {
    --strongFont: Lato-bold;
  }
} */

/* Global */
html,
body {
  padding: 0;
  margin: 0;
  font-family: SF-pro;
  color: var(--fontPrimary);
  background-color: rgb(253, 253, 253);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-family: var(--strongFont);
}
